body {
  font-family: "Roboto", system-ui, -apple-system, sans-serif;
  margin: 0;
}

.intro {
  display: flex;
  justify-content: space-between;
}

h1 {
  margin-left: 40px;
}

.circular-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.division-one {
  background-color: #1F2937;
  color: #F9FAF8;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-top: 15px;
  max-width: 100vw;
  box-sizing: border-box;
}

.contact-info {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: 16px;
  gap: 10px 25px;
  color: #E5E7EB;
  margin-right: 40px;
}

.division-two {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
  margin-left: 65px;
  gap: 10px;
}

h2 {
  color:deepskyblue;
  margin-bottom: 0px;
}

.education {
  display: flex;
  flex-direction: column;
}

.school {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 100vw;
  margin-right: 60px;
  margin-bottom: 5px;
}

.degree {
  margin-left: 50px;
  margin-bottom: 2px;
}

.education-fix {
  padding-bottom: 40px;
}

.division-three {
  background-color: #E5E7EB;
  color: #1F2937;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  padding-bottom: 25px;
  padding-left: 65px;
}

.project-header {
  margin-bottom: -9px;
}

.work {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.highlights {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-top: 0px;
  margin-right: 60px;
}

.skills {
  gap: 5px;
  margin-bottom: 15px;
}

.footer {
  background-color: #1F2937;
  color: #E5E7EB;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}